form {
  display: flex;
  justify-items: flex-start;
}

/* search input css */
.coolinput {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 240px;
}

.coolinput label.text {
  font-size: 0.75rem;
  color: #0e4ead;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #f6f7fb;
  width: fit-content;
}

.coolinput input[type="text"].newsInput {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 2px #0e4ead solid;
  border-radius: 5px;
  background: transparent;
}

.coolinput input[type="text"].newsInput:focus {
  outline: none;
}

/* search button css */
.nSearchBtn {
  background: transparent;
  display: flex;
  height: 41px;
  margin: 19px 5px;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #0e4ead;
  border-radius: 5px;
  outline: none;
  overflow: hidden;
  color: #0e4ead;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

.nSearchBtn span {
  margin: 10px;
}

.nSearchBtn:hover {
  color: #fff;
  border: 1px solid #0e4ead;
  background-color: #0e4ead;
  transition: 1s;
  border-radius: 5px;
}

/* 포토카드 css */

.card {
  max-width: 300px;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
}

.card a {
  text-decoration: none;
}

.content {
  padding: 1.1rem;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 150px;
}

.title {
  color: #111827;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.desc {
  margin-top: 0.5rem;
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.action {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  align-items: center;
  gap: 0.25rem;
  background-color: #0e4ead;
  padding: 4px 8px;
  border-radius: 4px;
}

.action span {
  transition: 0.3s ease;
}

.action:hover span {
  transform: translateX(4px);
}
