#articles {
  border: 1px solid #0e4ead;
  border-radius: 5px;
  background-color: transparent;
  height: 41px;
  margin: 19px 5px;
  cursor: pointer;
}

.coolinput {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  max-width: 240px;
}

.coolinput label.textlabel {
  font-size: 0.75rem;
  color: #0e4ead;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #f6f7fb;
  width: fit-content;
}

.coolinput input[type="text"].newsInput {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 2px #0e4ead solid;
  border-radius: 5px;
  background: transparent;
}

.coolinput input[type="text"].newsInput:focus {
  outline: none;
}

.inputWrap-news {
  display: inline;
}

/* search button css */
.nSearchBtn {
  background: transparent;
  height: 41px;
  margin: 19px 5px;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #0e4ead;
  border-radius: 5px;
  outline: none;
  overflow: hidden;
  color: #0e4ead;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

.nSearchBtn span {
  margin: 10px;
}

.nSearchBtn:hover {
  color: #fff;
  border: 1px solid #0e4ead;
  background-color: #0e4ead;
  transition: 1s;
  border-radius: 5px;
}

/* 포토카드 css */
#newsAtag {
  text-decoration: none;
  color: rgb(88, 87, 87);
}

.newsCard {
  width: 200px;
  height: 400px;
  background: white;
  padding: 0.4em;
  margin: 0.3em;
  border-radius: 6px;
  /* border: 1px solid #0e4ead; */
  display: inline-block;
}

.newsCard-image {
  background-color: rgb(236, 236, 236);
  width: 100%;
  height: 130px;
  border-radius: 6px 6px 0 0;
}

.newsCard-image:hover {
  transform: scale(0.98);
}

.newsCategory {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: #0e4ead;
  padding: 10px 7px 0;
}

.newsCategory:hover {
  cursor: pointer;
}

.newsHeading {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
}

.newsHeading:hover {
  cursor: pointer;
}

.newsAuthor {
  color: gray;
  font-weight: 400;
  font-size: 11px;
  padding-top: 20px;
}

.newsName {
  font-weight: 600;
}

.newsName:hover {
  cursor: pointer;
}
