<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<resultMap id="memberResult" type="Member">
		<result column="mem_no" property="memNo" />
		<result column="mem_id" property="memId"/>
		<result column="mem_pwd" property="memPwd"/>
		<result column="mem_name" property="memName"/>
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
		<result column="birth" property="birth"/>
		<result column="enroll_date" property="enrollDate"/>
		<result column="status" property="status"/>
	</resultMap>
	
	<!-- 정보 가져오기 -->
	<select id="loginMember" resultMap="memberResult">
	    select MEM_NO
	          , MEM_ID
	          , MEM_PWD
	          , MEM_NAME
	          , EMAIL
	          , PHONE
	          , ENROLL_DATE
	          , STATUS
	    from MEMBER
	    where MEM_ID = #{memId} 
	      and STATUS = 'Y'
	</select>
	
	<!-- 로그인 -->
	
	<!-- 회원가입 -->
	<insert id="insertMember">
		INSERT INTO 
		    MEMBER ( 
			        MEM_NO
			      , MEM_ID
			      , MEM_PWD
			      , MEM_NAME
			      , EMAIL
			      , PHONE
		      ) VALUES 
		      ( 
			          SEQ_MEMBER.NEXTVAL
			       , #{memId}
			       , #{memPwd}
			       , #{memName}
			       , #{email}
			       , #{phone}
		       )
	</insert>
	 
	<!-- 아이디중복확인 -->
	<select id="idCheck" resultType="_int">
		SELECT COUNT(*)
		  FROM MEMBER
		  WHERE #{memId}
		
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="findId" resultType="string">
	SELECT MEM_ID
	  FROM MEMBER
	  WHERE EMAIL=#{email}
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="findPwd" resultType="string">
	SELECT MEM_PWD
	    FROM MEMBER
	    WHERE MEM_ID='#{memId}
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="updateMember">
		update member
		   set mem_id = #{memId}
		   	 , mem_pwd = #{memPwd}
		   	 , mem_name = #{memName}
		     , email = #{email}
		     , phone = #{phone}
		     , enroll_date = sysdate
		 where mem_id = #{memId}    
	</update>
	
	<update id="deleteMember">
		update member
		   set status = 'N'
		 where mem_id = #{memId}
	</update>
	
	<select id="selectListCount" resultType="_int">
		select
			   count(*)
		  from member
		 where status = 'Y' 			   
	</select>
	
	<select id="selectList" resultMap="memberResult">
		select MEM_NO
	          , MEM_ID
	          , MEM_PWD
	          , MEM_NAME
	          , EMAIL
	          , PHONE
	          , ENROLL_DATE
	          , STATUS
	    from MEMBER 
	      where STATUS = 'Y'
	      order 
		    by enroll_date desc      
	</select>
	
	<select id="selectMemberByNo" resultMap="memberResult">
		select MEM_NO
	          , MEM_ID
	          , MEM_PWD
	          , MEM_NAME
	          , EMAIL
	          , PHONE
	          , ENROLL_DATE
	          , STATUS
	    from MEMBER
	    where MEM_no = #{memNo} 
	      and STATUS = 'Y'
	</select>
	
	<update id="updateMemberByNo">
		update member
		   set mem_id = #{memId}
		   	 , mem_pwd = #{memPwd}
		   	 , mem_name = #{memName}
		     , email = #{email}
		     , phone = #{phone}
		     , enroll_date = sysdate
		 where mem_no = #{memNo}    
	</update>
	
</mapper>