<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd" >

  <configuration>
  		
  		<settings>
  		
  			<!-- 만약에 NULL로 데이터가 전달되었다면 빈 칸이 아닌 NULL로 인식하라는 뜻,참고로 무조건 대문자 NULL로 설정해야함 -->
  			<setting name="jdbcTypeForNull" value="NULL"/>
  		</settings>
  		
  		<!-- typeAlias : VO/DTO 클래스들의 풀 클래스 명을 단순한 클래스명으로 사용하기 위해서 별칭을 등록할 수 있는 영역 -->
  		<typeAliases>
  			<typeAlias type="com.kh.kihoom.member.model.vo.Member" alias="Member"/>
  		</typeAliases>
  		
  		
  		
  		
  		<!-- mapper : 실행할 sql문들을 기록 해둔 mapper 파일들을 등록하는 영역. 여러개 가능한듯 -->
  		<mappers>
  			<mapper resource="/mappers/member-mapper.xml" />
  			<!-- <mapper resource="/mappers/board-mapper.xml"/> -->
  		</mappers>
  		<!-- 미리 등록해두려면 해당 mapper파일이 진짜 존재해야 등록 가능,
  		또한 namespace도 지정되있는 상태여야함 -->
  		
  		
</configuration>
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
	<!-- dtd 는 유효성 검증 document 타입에 맞는 태그를 썻는지 확인   -->
<configuration>
	
	<!-- setting : mybatis 구동시 선언할 설정들을 작성하는 영역 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<!-- 만약에 null로 데이터가 전달되었다면 빈칸이 아닌 null로 인식해라 
		mybatis는 ""로 db로 들어가면 ""로 들어가기 때문에 빈문자가 아닌 null로 들어가라는 셋팅  
		null은 대문자로 적어야 한다
		-->
	</settings>
	
	<typeAliases>
	<!-- typeAliases : VO/DTO 클래스들의 풀클래스명을 단순한 클래스명으로 사용하기 위해서 별칭을 등록할 수 있는 영역 -->

	</typeAliases>

	
	
	<!-- *mapper : 실행할 sql문들을 기록 해둔 mapper 파일들을 등록하는 영역 -->
	<mappers>
		<mapper resource="/mapper/stock-mapper.xml"/>
	</mappers>





</configuration>